@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-family: 'Fira Sans', sans-serif;
}

/* Navigation Bar */
#header {
  margin: 0;
}

#logo {
  margin-right: auto;
}

.navbarList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  list-style: none;
}

.nav-item {
  margin: 1rem;
  font-weight: bold;
}

/* Media Queries for Navbar section */

@media only screen and (max-width: 700px) {
  .navbarList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #logo {
    width: 100%;
    height: 1vh;
    display: flex;
    justify-content: center;
    padding: 16px;
  }

  .nav-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px;
    padding: 1rem;
  }

}
@media only screen and (max-width: 430px) {
  .navbarList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #logo {
    width: 100%;
    height: 1vh;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 20px;
    font-size: 1.6rem;
  }

  .nav-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px;
    padding: 0.5rem;
    font-size: 0.5rem;
  }

}

/* Hero Banner */

.hero-banner {
  background-image: url(./images/02-hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  position: relative;
}

.subHeading {
  color: rgb(247, 240, 240);
  border: 1px solid rgb(69, 63, 63);
  position: absolute;
  bottom: 15px;
  right: 60px;
  background-color: rgb(70, 67, 86);
  opacity: 0.8;
  padding: 0px 5px;
  text-align: center;
}

img {
  height: 100px;
  position: relative;
  bottom: 5px;
  left: 30px;
  padding: 5px 5px;
}

/* Media Queries for Hero Banner */

@media only screen and (max-width: 450px) {
  .subHeading {
    color: rgb(247, 240, 240);
    border: 1px solid rgb(69, 63, 63);
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgb(70, 67, 86);
    opacity: 0.8;
    padding: 0px 5px;
    text-align: center;
    font-size: 1.4rem;
  }

  img {
    height: 100px;
    position: relative;
    bottom: 5px;
    left: 20px;
    padding: 5px 5px;
  }
}

/* About Me Section */

#about {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 10px;
  margin: 20px;
}

#about > h2 {
  border-right: 4px solid black;
  text-align: right;
  padding: 20px;
}

#about > p {
  margin-left: 20px;
}


/* Media Queries for About Me section */

@media only screen and (max-width: 700px) {
  #about {
    display: flex;
    flex-wrap: wrap;
  }

  #about > h2 {
    border-right: none;
    border-bottom: 4px solid black;
    width: 100%;
    text-align: center;
    padding: 0;
  }
}

/* Work Section */

#work {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 10px;
  margin: 20px;
  height: 740px;
}

#work > h2 {
  border-right: 4px solid black;
  text-align: right;
  padding: 20px;
}

#work > p {
  margin-left: 20px;
}

/* Media Queries for Work section */

@media only screen and (max-width: 700px) {
  #work {
    display: flex;
    flex-wrap: wrap;
  }

  #work > h2 {
    border-right: none;
    border-bottom: 4px solid black;
    width: 100%;
    text-align: center;
    padding: 0;
  }
}

.projects {
  display: grid;
  height: 600px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
    "surf surf"
    "ledWall calculator"
    "pastel runBuddy"
    ;
}

/* Media Queries for Projects section */

@media only screen and (max-width: 700px) {
  .projects {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "surf"
      "ledWall"
      "calculator"
      "pastel"
      "runBuddy"
      ;
  }
}

.surf {
  grid-area: surf;
  background-image: url(./images/02-portfolio-4.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 90%;
  margin: 20px;
  border: 2px solid black;
  display: flex;
}

h3 {
  align-self: flex-end;
  padding: 2px;
  color: white;
}

.ledWall {
  grid-area: ledWall;
  background-image: url(./images/02-portfolio-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 90%;
  margin: 20px;
  border: 2px solid black;
  display: flex;
}
.calculator {
  grid-area: calculator;
  background-image: url(./images/02-portfolio-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 90%;
  margin: 20px;
  border: 2px solid black;
  display: flex;
}
.pastel {
  grid-area: pastel;
  background-image: url(./images/02-portfolio-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 90%;
  margin: 20px;
  border: 2px solid black;
  display: flex;
}
.runBuddy {
  grid-area: runBuddy;
  background-image: url(./images/02-run-buddy.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 90%;
  margin: 20px;
  border: 2px solid black;
  display: flex;
}

.projects * {
  background-color: black;
}

/* Contact Me Section */

#contact {
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 10px;
  margin: 10px;
  margin-top: 70px;
}

#contact > h2 {
  border-right: 4px solid black;
  text-align: right;
  padding: 20px;
}

.contactDetails {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin-top: 40px;
}

/* Media Queries for Contact section */

@media only screen and (max-width: 700px) {
  #contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #contact > h2 {
    border-right: none;
    border-bottom: 4px solid black;
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .contactDetails > * {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 40px;
  }
  
}